@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<EntityLayer.Concrete.Blog>

@{string Color = ""; }
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Blog Yazıları</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {


                if (item.Category.CategoryName == "Yazılım")
                {
                    Color = "post-category text-white bg-primary mb-3";
                }
                if (item.Category.CategoryName == "Teknoloji")
                {
                    Color = "post-category text-white bg-warning mb-3";
                }
                if (item.Category.CategoryName == "Seyahat")
                {
                    Color = "post-category text-white bg-success mb-3";
                }
                if (item.Category.CategoryName == "Kültür & Sanat")
                {
                    Color = "post-category text-white bg-info mb-3";
                }
                if (item.Category.CategoryName == "Film & Dizi")
                {
                    Color = "post-category text-white bg-danger mb-3";
                }
                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="~/Blog/BlogDetails/@item.BlogId"><img src="@item.BlogImage" style="height:250px" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="@Color">@item.Category.CategoryName</span>

                            <h2><a href="~/Blog/BlogDetails/@item.BlogId">@item.BlogTitle</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1"><a href="#">@item.Author.AuthorName</a></span>
                                <span>@(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</span>
                            </div>
                            @*blogtaki ilk 200 karekteri alır, son kelimeyi boşluk olduğunda bitirir kelimeyi yarıda kesmez*@
                            <p>@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 200).LastIndexOf(" "))...</p>
                            <p><a href="~/Blog/BlogDetails/@item.BlogId">Devamını Oku</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index","Blog/Index", new { page }))